[submodule "sticky-recorder"]
	path = sticky-recorder
	url = https://github.com/whisper-darkly/sticky-recorder.git
[submodule "sticky-converter"]
	path = sticky-converter
	url = https://github.com/whisper-darkly/sticky-converter.git
